.grayTitle {
  color: #b3b3b3;
}
.rowTitle,
.rowLetter {
  font-weight: 400;
  font-size: 90px;
  line-height: 103px;
  position: relative;
  display: inline-block;
  @media (max-width: 1280px) {
    font-size: 60px;
    line-height: 69px;
  }
  @media (max-width: 800px) {
    font-size: 30px;
    line-height: 34px;
    width: 350px;
  }
}
.title {
  margin-top: 50px;
  @media (max-width: 1280px) {
    margin-top: 65px;
  }
  @media (max-width: 1024px) {
    margin-top: 50px;
  }
}
.bannerRow {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.rowCol {
  display: flex;
  align-content: center;
  justify-content: center;
}
