.journalWrapper {
  margin: 100px 0;
}
.title {
  margin-bottom: 25px;
}
.postTitile {
  margin-top: 15px;
}
.smallImgTitle {
  margin-left: 23px;
  width: 60%;
  @media (max-width: 1280px) {
    margin-left: 21px;
    width: 270px;
  }
}
.imgWrapper > span {
  border-radius: var(--radius);
}
.smallImgWrapper {
  width: 50%;
  margin-left: 50px;
  @media (max-width: 1625px) {
    width: 40%;
  }
  @media (max-width: 1280px) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 0;
    margin-top: 39px;
  }
}
.imgWrapper {
  transition: all 0.5s ease-in-out;
  position: relative;
  border-radius: var(--radius);
}
.imgWrapper:hover .img {
  transform: scale(1.05);
}

.img {
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  border-radius: var(--radius);
}

.smallImgItemWrapper {
  cursor: pointer;
  display: flex;
  margin-bottom: 35px;
  @media (max-width: 1280px) {
    width: 50%;
    margin-bottom: 49px;
  }
}

.bigImgWrapper {
  cursor: pointer;
}

.bigImgWrapper {
  width: 50%;
  @media (max-width: 1625px) {
    width: 60%;
  }
  @media (max-width: 1280px) {
    width: 100%;
  }
}

.articlesWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @media (max-width: 1280px) {
    flex-direction: column;
  }
}
.span {
  opacity: 0.3;
  position: relative;
  top: 7px;
}
.moreImg {
  @media (max-width: 1625px) {
    margin: 0;
    right: 0;
  }
}
.moreWrapper{
  @media (max-width: 1280px) {
    margin: 0 !important;
    width: 100%;
  }
}
