.requiredWrapper {
  margin-top: 100px;
  margin-bottom: 100px;
}
.subTitle {
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0.015em;
  margin-bottom: 50px;
}
.addInput {
  margin-bottom: 25px;
}
