.title {
  margin-bottom: 30px;
}
.processWrapper {
  margin-top: 100px;
  margin-bottom: 50px;
}
.processContentWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.processItem {
  width: 41%;
  margin-bottom: 50px;
}
.processText {
  margin-top: 7px;
  font-weight: 400;
  font-size: 23px;
  line-height: 26px;
  letter-spacing: 0.015em;
}
