.header,
.content {
  margin-left: -50px;
  margin-right: -50px;
  position: relative;
  @media (max-width: 1625px) {
    margin-left: -40px;
    margin-right: -40px;
  }

  @media (max-width: 1280px) {
    margin-left: -20px;
    margin-right: -20px;
  }
}
.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 50px;
  padding-bottom: 100px;
  @media (max-width: 1625px) {
    padding: 40px 40px;
    padding-bottom: 50px;
  }
}
.headerImg,
.imgWrapper {
  width: 100%;
}
.imgWrapper,
.headerText {
  height: 632px;
}
.imgWrapper {
  position: absolute;
  z-index: -1;
}
.headerImg {
  height: 100%;
  object-fit: cover;
}
.headerText {
  padding: 50px 50px;
  padding-bottom: 76px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title,
.more {
  margin: 0 !important;
}
.cardTitle,
.title,
.more {
  color: #fff;
}

.more {
  height: 40px;
}
.content {
  background-color: #000;
}
.cardTitle {
  margin-top: 15px;
}
.imgBlockWrapper {
  border-radius: var(--radius);
  position: relative;
  width: 100%;
  height: 407px;
  transition: all 0.5s ease-in-out;
}

.imgBlockWrapper > span {
  border-radius: var(--radius);
}

.imgBlockWrapper:hover .img {
  transform: scale(1.05);
}
.img {
  border-radius: var(--radius);
  object-fit: cover;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.block {
  margin-bottom: 50px;
  cursor: pointer;
}
.btn {
  background-color: #fff !important;
  color: #000 !important;
  margin-top: 0;
}
