.albumWrapper {
  cursor: pointer;
}

.hover {
  transition: all 0.5s ease-in-out;
}

.albumWrapper:hover .hover {
  color: var(--purple);
}

.albumImg {
  border-radius: var(--radius);
  object-fit: cover;
  text-align: center;
  @media (max-width: 800px) {
    border-radius: var(--mobileRadius);
  }
}

.imgWrapper {
  width: 350px;
  height: 407px;
  position: relative;
  @media (max-width: 800px) {
    width: 225px !important;
    height: 260px !important;
  }
}
.infoWrapper {
  margin-top: 15px;
}
.priceWrapper {
  display: flex;
  margin-top: 7px;
}
.newPrice,
.oldPrice {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 26px;
  @media (max-width: 800px) {
    font-size: 16px;
    line-height: 18px;
  }
}
.newPrice {
  margin-right: 9px;
}
.oldPrice {
  text-decoration: line-through;
  color: var(--gray);
}
