.mainWrapper {
  margin: 50px 0;
}

.mainWrapper,
.preview,
.previewLeft,
.pricesWrapper,
.coversWrapper,
.productDescWrapper {
  display: flex;
}

.preview {
  justify-content: space-between;
}

.mainWrapper,
.previewLeft {
  flex-direction: column;
}

.previewLeft {
  width: 50%;
}

.title {
  margin-bottom: 7px;
}

.saleText {
  font-weight: 400;
}

.desc {
  width: 431px;
  margin-bottom: 252px;
}

.coversWrapper {
  margin-top: 8px;
}

.coverWrapper {
  height: 50px;
  width: 50px;
  position: relative;
  margin-right: 15px;
  border-radius: 50%;
}

.cover {
  cursor: pointer;
  pointer-events: all;
  border-radius: 50%;
}

.coverWrapper:hover {
  outline: var(--navLinkActive) solid 2px;
  outline-offset: 1.5px;
}

.pricesWrapper {
  margin-top: 35px;
}

.oldPrice {
  margin-left: 15px;
  opacity: 20%;
  text-decoration: line-through;
}

.saleText {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.015em;
  margin-top: 8px;
  margin-bottom: 35px;
}

.productDescWrapper {
  margin-top: 47px;
}

.modelDesc {
  width: 50%;
}

.videoReviewWrapper {
  margin-top: 100px;
}
