.contactsPhoneWrapper {
  display: flex;
  justify-content: space-between;
}
.contactsPhoneTime {
  color: #b3b3b3;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 23px;
  line-height: 26px;
  letter-spacing: 0.015em;
}
.contactsPhone {
  margin-right: 25px;
}
