.mainWrapper {
  margin: 50px 0;
}

.mainWrapper,
.descWrapper {
  display: flex;
}

.mainWrapper {
  flex-direction: column;
}

.descWrapper {
  justify-content: space-between;
  margin-top: 100px;
  @media (max-width: 1280px) {
    flex-direction: column;
  }
  @media (max-width: 800px) {
    margin-top: 50px;
  }
}

.desc {
  width: 1020px;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0.015em;
  @media (max-width: 1280px) {
    margin-top: 7px;
  }
  @media (max-width: 1024px) {
    width: 100%;
    font-size: 16px;
    line-height: 18px;
  }
}

.circlesWrapper {
  margin-top: 100px;
  height: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  @media (max-width: 800px) {
    width: auto;
    height: 210vw;
    margin-top: 50px;
    pointer-events: none;
  }
}

.circlesGroup {
  position: relative;
  width: 74vw;
  height: 100%;
  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: static;
    width: 100%;
  }
}

.offerText {
  font-weight: 400;
  font-size: 90px;
  line-height: 95px;
  margin-bottom: 25px;
  margin-top: 100px;
  @media (max-width: 1024px) {
    font-size: 60px;
    line-height: 69px;
  }
  @media (max-width: 800px) {
    font-size: 30px;
    line-height: 34px;
    margin-top: 50px;
    margin-bottom: 7px;
    font-size: 24px;
    line-height: 28px;
  }
}

.offerFeedback {
  margin-top: 50px;
  margin-bottom: 70px;
}
