.mainWrapper {
  margin: 50px 0;
}

.mainWrapper,
.descWrapper {
  display: flex;
}

.mainWrapper {
  flex-direction: column;
}

.descWrapper {
  justify-content: space-between;
}

.desc {
  width: 1020px;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0.015em;
}

.circlesWrapper {
  margin-top: 100px;
  height: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 800px) {
    width: auto;
    height: 210vw;
  }
}

.circlesGroup {
  position: relative;
  width: 74vw;
  height: 100%;
  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: static;
    width: 100%;
  }
}

.offerText {
  font-weight: 400;
  font-size: 90px;
  line-height: 95px;
  margin-bottom: 25px;
  margin-top: 100px;
}

.offerFeedback {
  margin-top: 50px;
  margin-bottom: 70px;
}
