.roundButton {
  width: 100%;
  border-radius: var(--radius);
  margin-top: 0;
  margin-bottom: 15px;
  transition: all 0.5s ease-in-out;
  @media (max-width: 1024px) {
    height: 100px;
  }
  @media (max-width: 800px) {
    height: 60px;
    border-radius: var(--mobileRadius);
  }
}
