:root {
  --bg: #fff;
  --text: #000;
  --bgLayout: #000;
  --border: #000;
  --navLink: #fff;
  --navLinkActive: #652fff;
  --fontFamily: Arial, Helvetica, sans-serif;
  --h2Size: 35px;
  --radius: 15px;
  --error: #d64f4f;
  --purple: #652fff;
}

input:focus::placeholder {
  color: var(--text) !important;
}
img {
  pointer-events: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--fontFamily);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#__next {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: 1650px) {
    main {
      margin: 0 calc((100vw - 1560px) / 2);
    }
    header > nav {
      padding: 24px calc((100vw - 1560px) / 2);
    }
    footer {
      padding: 65px calc((100vw - 1560px) / 2);
    }
  }
}

main {
  flex: 1 1 auto;
  margin: 0 50px;
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
footer {
  background-color: var(--bgLayout);
  color: var(--navLink);
  padding: 65px 50px;
}

a {
  color: inherit;
  text-decoration: none;
}
h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0.015em;
}

h3 {
  font-weight: 400;
  font-size: 23px;
  line-height: 26px;
  letter-spacing: 0.015em;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  color: var(--text);
  background-color: var(--bg);
}

input[type="file"] {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
input[type="file"]:before {
  content: attr(placeholder);
  opacity: 0.4;
  padding-bottom: 10px;
}
input[type="file" i]::-webkit-file-upload-button {
  position: relative;
  bottom: 35px;
  border-radius: 10px;
  cursor: pointer;
  float: right;
  padding: 10px 10px;
  background-color: #000;
  color: #fff;
  font-family: var(--fontFamily);
}

progress {
  width: 100%;
  border: none;
  height: 2px;
  cursor: pointer;
}
progress::-webkit-progress-bar {
  background-color: #fff;
}
progress::-webkit-progress-value {
  background-color: #000;
}

progress::-moz-progress-bar {
  background-color: #000;
}

video {
  cursor: pointer;
}

// For future in adaptive

// #case_0 > span {
//   width: 150px !important;
// }

// #case_0 {
//   width: 150px !important;
// }

#case_1 {
  top: 266px;
  right: 50px;
}

#case_2 {
  margin-top: 142px;
  left: 72px;
}
