.errorWraper {
  margin: 300px 0;
}
.errorTitle {
  font-weight: 400;
  font-size: 90px;
  line-height: 95px;
}
.errorDescription {
  margin-top: 25px;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0.015em;
  width: 893px;
}
.backLink {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}
