.errorWraper {
  margin: 300px 0;
}
.errorTitle {
  font-weight: 400;
  font-size: 90px;
  line-height: 95px;
  @media (max-width: 800px) {
    font-size: 50px;
    line-height: 55px;
  }
}
.errorDescription {
  margin-top: 25px;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0.015em;
  width: 90vw;
  @media (max-width: 800px) {
    font-size: 23px;
    line-height: 28px;
  }
}
.backLink {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
  @media (max-width: 800px) {
    text-decoration-thickness: 2px;
    text-underline-offset: 3.2px;
  }
}
