POSTGRES_DB=wayout_dev
POSTGRES_USER=wayout_dev
POSTGRES_PASSWORD=wayout_dev

DB_HOST=localhost
DB_PORT=5432

SECRET_KEY=R573iONdd5yIpye8lo4YwLA6J2zxTp6-wRboRfMohOw

SMTP_TLS=true
SMTP_PORT=1337
SMTP_HOST=smtp.host
SMTP_USER=smtpUser
SMTP_PASSWORD=smtpPassword
FROM_EMAIL=from.from@mail.com
FROM_NAME=FromName

FEEDBACK_ORDER_EMAIL = "feedback@order.ru"
FEEDBACK_EMAIL = "feedback@order.ru"
OFFER_EMAIL = "feedback@order.ru"