.mainImgWrapper {
  margin-right: -50px;
  margin-left: -50px;
  margin-top: 50px;
  @media (max-width: 1650px) {
    margin-right: -40px;
    margin-left: -40px;
  }
  @media (max-width: 1280px) {
    margin-right: -20px;
    margin-left: -20px;
  }
}

.mainImg {
  width: 100%;
  object-fit: cover;
}
.img {
  border-radius: 25px;
  width: 100%;
  object-fit: cover;
}
.textWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  @media (max-width: 1280px) {
    margin-top: 50px;
  }
}
.text {
  width: 1019px;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0.015em;
  @media (max-width: 1280px) {
    width: 70%;
  }
}
.img {
  @media (max-width: 1650px) {
    height: 622px;
  }
  @media (max-width: 1280px) {
    height: 508px;
  }
}
.imgWrapper,
.btnWrapper {
  margin-top: 100px;
  @media (max-width: 1280px) {
    margin-top: 50px;
  }
}
.verticalWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.vertImg {
  width: 48.5%;
  position: relative;
  @media (max-width: 1650px) {
    height: 720px !important;
  }
  @media (max-width: 1280px) {
    height: 590px !important;
  }
}
.btnWrapper {
  display: flex;
  flex-direction: column;
}
.dateShareWrapper {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dateShareText {
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 0.015em;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}
