.leadCatchWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 39px;
  
  @media (max-width: 1599px) {
    margin: 0;
  }

  @media (max-width: 1280px) {
    flex-direction: column;
  }
}
