.QSWrapper {
  margin-top: 100px;
  @media (max-width: 800px) {
    margin-top: 25px;
  }
}

.QSTitle {
  margin-bottom: 30px;
  @media (max-width: 800px) {
    margin-bottom: 15px;
  }
}
.title{
  @media (max-width: 800px) {
    width: 90%;
  }
}
.QStitleWrapper {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.QSItem {
  margin-bottom: 28px;
  @media (max-width: 800px) {
    margin-bottom: 15px;
  }
}
.textWrapper {
  overflow: hidden;
  width: 940px;
  transition: all 0.5s ease-in-out;
  @media (max-width: 1024px) {
    width: 700px;
  }
  @media (max-width: 800px) {
    width: 90%;
  }
  
}
.text {
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}
.plusImg {
  pointer-events: all;
  user-select: none;
  transition: all 0.3s ease-in-out;
  @media (max-width: 800px) {
    width: 30px;
    height: 30px;
  }
}

.activePlus {
  transform: rotate(45deg);
}
