.mainAlbumsListHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
  cursor: pointer;
}
.mainAlbumsListWrapper {
  margin-top: 36px;
}

.img {
  position: relative;
  right: 25px;
  transition: all 0.5s ease-in-out;
}
.mainAlbumsListHeader:hover .img {
  right: 0;
}
