.nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--bgLayout);
  padding: 24px 50px;
  padding-bottom: 19px;
  padding-right: 20px;
  @media (max-width: 1600px) {
    .link:hover {
      color: var(--navLinkActive);
    }
  }
  @media (max-width: 1280px) {
    align-items: center;
  }
}
.logoImg {
  @media (max-width: 1280px) {
    width: 168px;
  }
}
.links {
  display: flex;
  justify-content: space-between;
}

.link,
.active {
  cursor: pointer;
  margin: 0 30px;
  color: var(--navLink);
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0.015em;
  transition: color 0.2s linear;
}
.link:hover{
  color: var(--navLinkActive);
}
.active {
  color: var(--navLinkActive);
}

.burgerWrapper {
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.line1 {
  transform: translateY(-5px);
}
.line2 {
  transform: translateY(5px);
}
.clicked1 {
  transform: rotate(-45deg);
}
.clicked2 {
  transform: translateY(-3px) rotate(45deg);
}
