.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 430px) {
    align-items: flex-start;
    flex-direction: column;
  }
}
.requisites {
  margin-top: 50px;
}

.addition {
  margin-top: 100px !important;
}
.addition,
.requisites > h2 {
  @media (max-width: 800px) {
    font-size: 20px;
    line-height: 23px;
  }
}

.addition,
.requisites > p {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 130%;
  @media (max-width: 800px) {
    font-size: 16px;
    line-height: 20px;
  }
}
.addition > p {
  margin-top: 15px;
}
.block,
.header,
.content {
  margin-top: 50px;
}

.header > p,
.block > p,
.contentText > p {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 130%;
  margin-bottom: 25px;
  @media (max-width: 800px) {
    font-size: 16px;
    line-height: 20px;
  }
}
.contentText {
  margin-top: 20px;
  margin-bottom: 250px;
}
.contentText > h2 {
  margin-bottom: 25px;
  @media (max-width: 800px) {
    font-size: 20px;
    line-height: 23px;
  }
}
.contentText > ul > li{
  margin-left: 20px ;
}