.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block,
.header,
.content {
  margin-top: 50px;
}

.header > p,
.block > p,
.contentText > p {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 130%;
}
.contentText {
  margin-top: 20px;
  margin-bottom: 250px;
}
