.button {
  margin-top: 50px;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #fff;
  background-color: #000;
  width: 45%;
  float: right;
  height: 120px;
  cursor: pointer;
  @media (max-width: 800px) {
    font-size: 20px;
    line-height: 23px;
  }
}
