.adminLinks {
  display: flex;
  flex-direction: column;
  height: 800px;
}

.title, .link{
  font-weight: 400;
  font-size: 90px;
  line-height: 95px;
  margin-bottom: 25px;
}

.title{
  margin-bottom: 50px;
}