.adminLinks {
  display: flex;
  flex-direction: column;
  height: 800px;
}

.title, .link{
  font-weight: 400;
  font-size: 90px;
  line-height: 95px;
  margin-bottom: 25px;
}

.title{
  margin-bottom: 50px;
}

.albumsDataWrapper {
  width: 60%;
  margin-bottom: 100px;
}

.dataTitle,
.actionsTitle,
.actionLink,
.currentDataTitle {
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0.015em;
}

.actionsTitle,
.actionLink {
  margin-bottom: 35px;
}
.actionLink {
  border-bottom: 2.5px solid #000;
  width: fit-content;
}

.dataTitle {
  margin-bottom: 50px;
}

.actionsWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.currentDataWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.productLink {
  font-weight: 400;
  font-size: 23px;
  line-height: 26px;
  letter-spacing: 0.015em;
  width: fit-content;
}
